/.claude/settings.local.json
/.env.keys
/.playwright-mcp/
/*.code-workspace
/**/__pycache__/
/**/.env.*.secrets
/**/dist/
/**/node_modules/
/agent/.coverage
/agent/.venv/
/db-dump-data
/gamestate-json-data/
/ui/test-results/