services:
  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      target: devcontainer
    command: sleep infinity
    container_name: stellaris-stats_devcontainer
    networks:
      - stellaris-stats-db-network
      - stellaris-stats-db-test-network
      - stellaris-stats-apollo-mcp-server-network
      - stellaris-stats-librechat-network
      - stellaris-stats-librechat-metrics-network
      - stellaris-stats-librechat-mongo-network
      - stellaris-stats-mcp-run-python-network
      - stellaris-stats-grafana-network
      - stellaris-stats_prometheus-network
      - stellaris-stats-redis-network
    volumes:
      - ..:/workspace
      - '${STELLARIS_STATS_SAVE_PATH}:/stellaris-data:ro'
      - claude-data:/home/vscode/.claude
      - claude-json:/home/vscode/.claude.json-volume
      - db-dump-data:/workspace/db-dump-data
      - gamestate-json-data:/workspace/gamestate-json-data
      - node-modules:/workspace/node_modules
      - user-cache:/home/vscode/.cache
      - agent-venv:/workspace/agent/.venv
      - local-share-uv:/home/vscode/.local/share/uv

  db:
    image: postgres:18@sha256:38d5c9d522037d8bf0864c9068e4df2f8a60127c6489ab06f98fdeda535560f9
    container_name: stellaris-stats_db
    env_file:
      - .env.db
    networks:
      - stellaris-stats-db-network
    volumes:
      - db-data:/var/lib/postgresql

  db-test:
    image: postgres:18@sha256:38d5c9d522037d8bf0864c9068e4df2f8a60127c6489ab06f98fdeda535560f9
    container_name: stellaris-stats_db-test
    env_file:
      - .env.db.test
    networks:
      - stellaris-stats-db-test-network
    volumes:
      - db-test-data:/var/lib/postgresql

  redis:
    image: redis:8.4-alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    container_name: stellaris-stats_redis
    command: redis-server --appendonly yes --appendfsync everysec
    networks:
      - stellaris-stats-redis-network
    volumes:
      - redis-data:/data

  apollo-mcp-server:
    image: ghcr.io/apollographql/apollo-mcp-server:v1.3.0@sha256:a78a66c637236d2d72b1ff1fa34a0c7c7f7d2a84b372a2c54bd2eb13655a3dc1
    container_name: stellaris-stats_apollo-mcp-server
    command: ['/apollo-mcp-server.yaml']
    networks:
      - stellaris-stats-apollo-mcp-server-network
    ports:
      - 4001:4001
    volumes:
      - ../graphql/schema.graphql:/data/schema.graphql:ro
      - ../apollo-mcp-server.yaml:/apollo-mcp-server.yaml:ro

  mcp-inspector:
    container_name: stellaris-stats_mcp-inspector
    environment:
      - ALLOWED_ORIGINS=http://localhost:6274
      - DANGEROUSLY_OMIT_AUTH=true
      - HOST=0.0.0.0
    image: ghcr.io/modelcontextprotocol/inspector:latest@sha256:d4fda7b69cb8ae4cd9d3ac5b24bea59defc0555b59f90c9b5197c92968f65af1
    networks:
      - stellaris-stats-apollo-mcp-server-network
      - stellaris-stats-mcp-run-python-network
    ports:
      - 6274:6274
      - 6277:6277

  pydantic-mcp-run-python:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      target: pydantic-mcp-run-python
    container_name: stellaris-stats_pydantic-mcp-run-python
    networks:
      - stellaris-stats-mcp-run-python-network
    ports:
      - 4002:4002

  grafana:
    container_name: stellaris-stats_grafana
    env_file:
      - .env.grafana
    image: grafana/grafana:12.4.0-19877932531@sha256:e27f65e36eded1507053188f316075e2369c0425c88e9dfc2f7d24e25c6f75af
    networks:
      - stellaris-stats-grafana-network
      - stellaris-stats_prometheus-network
    ports:
      - 4003:3000
    volumes:
      - grafana-data:/var/lib/grafana

  librechat:
    container_name: stellaris-stats_librechat
    env_file:
      - .env.librechat
      - .env.librechat.secrets
    image: librechat/librechat:v0.8.1-rc2@sha256:168c522cb1eaab789dc61cd8e8a2639f8c6c847ccfc22ae0c29bf5a382650464
    networks:
      - stellaris-stats-apollo-mcp-server-network
      - stellaris-stats-librechat-network
      - stellaris-stats-librechat-mongo-network
      - stellaris-stats-mcp-run-python-network
    ports:
      - 4004:3080
    volumes:
      - ./librechat.yaml:/app/librechat.yaml:ro
      - librechat-image-data:/app/client/public/images
      - librechat-upload-data:/app/uploads
      - librechat-logs:/app/api/logs

  librechat-mongo:
    container_name: stellaris-stats_librechat-mongo
    image: mongo:8.2.2-noble@sha256:0094e1002b7bf122754e8822f103802429b59db70bffce6e1714efa573637c88
    networks:
      - stellaris-stats-librechat-mongo-network
    volumes:
      - librechat-mongo-data:/data/db

  librechat-metrics:
    container_name: stellaris-stats_librechat-metrics
    env_file:
      - .env.librechat-metrics
    image: ghcr.io/virtuos/librechat_exporter:2.1.0@sha256:868e92f859f54554206772b863b9f6a5d2357e75334265a4a1918a242a3a724f
    networks:
      - stellaris-stats-librechat-metrics-network
      - stellaris-stats-librechat-mongo-network

  prometheus:
    container_name: stellaris-stats_prometheus
    image: prom/prometheus:v3.8.1@sha256:2b6f734e372c1b4717008f7d0a0152316aedd4d13ae17ef1e3268dbfaf68041b
    networks:
      - stellaris-stats-librechat-metrics-network
      - stellaris-stats_prometheus-network
    ports:
      - 4005:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus

networks:
  stellaris-stats-apollo-mcp-server-network:
    driver: bridge
    name: stellaris-stats_apollo-mcp-server-network
  stellaris-stats-db-network:
    driver: bridge
    name: stellaris-stats_db-network
  stellaris-stats-db-test-network:
    driver: bridge
    name: stellaris-stats_db-test-network
  stellaris-stats-librechat-network:
    driver: bridge
    name: stellaris-stats_librechat-network
  stellaris-stats-librechat-metrics-network:
    driver: bridge
    name: stellaris-stats_librechat-metrics-network
  stellaris-stats-librechat-mongo-network:
    driver: bridge
    name: stellaris-stats_librechat-mongo-network
  stellaris-stats-mcp-run-python-network:
    driver: bridge
    name: stellaris-stats_mcp-run-python-network
  stellaris-stats_prometheus-network:
    driver: bridge
    name: stellaris-stats_prometheus-network
  stellaris-stats-grafana-network:
    driver: bridge
    name: stellaris-stats_grafana-network
  stellaris-stats-redis-network:
    driver: bridge
    name: stellaris-stats_redis-network

volumes:
  claude-data:
    name: stellaris-stats_claude-data
  claude-json:
    name: stellaris-stats_claude-json
  db-data:
    name: stellaris-stats_db-data
  db-test-data:
    name: stellaris-stats_db-test-data
  db-dump-data:
    name: stellaris-stats_db-dump-data
  gamestate-json-data:
    name: stellaris-stats_gamestate-json-data
  grafana-data:
    name: stellaris-stats_grafana-data
  librechat-mongo-data:
    name: stellaris-stats_librechat-mongo-data
  librechat-image-data:
    name: stellaris-stats_librechat-image-data
  librechat-upload-data:
    name: stellaris-stats_librechat-upload-data
  librechat-logs:
    name: stellaris-stats_librechat-logs
  local-share-uv:
    name: stellaris-stats_local-share-uv
  node-modules:
    name: stellaris-stats_node-modules
  prometheus-data:
    name: stellaris-stats_prometheus-data
  redis-data:
    name: stellaris-stats_redis-data
  user-cache:
    name: stellaris-stats_user-cache
  agent-venv:
    name: stellaris-stats_agent-venv
