services:
  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      target: devcontainer
    command: sleep infinity
    container_name: stellaris-stats_devcontainer
    networks:
      - stellaris-stats-db-network
      - stellaris-stats-apollo-mcp-server-network
      - stellaris-stats-mcp-run-python-network
    volumes:
      - ..:/workspace
      - '${STELLARIS_STATS_SAVE_PATH}:/stellaris-data:ro'
      - claude-data:/home/vscode/.claude
      - db-dump-data:/workspace/db-dump-data
      - gamestate-json-data:/workspace/gamestate-json-data
      - node-modules:/workspace/node_modules
      - user-cache:/home/vscode/.cache
      - user-local:/home/vscode/.local

  db:
    image: postgres:17
    container_name: stellaris-stats_db
    env_file:
      - .env.db
    networks:
      - stellaris-stats-db-network
    volumes:
      - db-data:/var/lib/postgresql/data

  apollo-mcp-server:
    image: ghcr.io/apollographql/apollo-mcp-server:v1.2.1
    container_name: stellaris-stats_apollo-mcp-server
    command: ['/apollo-mcp-server.yaml']
    networks:
      - stellaris-stats-apollo-mcp-server-network
    ports:
      - 4001:4001
    volumes:
      - ../graphql/schema.graphql:/data/schema.graphql:ro
      - ../apollo-mcp-server.yaml:/apollo-mcp-server.yaml:ro

  mcp-inspector:
    container_name: stellaris-stats_mcp-inspector
    environment:
      - ALLOWED_ORIGINS=http://localhost:6274
      - DANGEROUSLY_OMIT_AUTH=true
      - HOST=0.0.0.0
    image: ghcr.io/modelcontextprotocol/inspector:latest
    networks:
      - stellaris-stats-apollo-mcp-server-network
    ports:
      - 6274:6274
      - 6277:6277

  pydantic-mcp-run-python:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      target: pydantic-mcp-run-python
    container_name: stellaris-stats_pydantic-mcp-run-python
    networks:
      - stellaris-stats-mcp-run-python-network
    ports:
      - 4002:4002

networks:
  stellaris-stats-db-network:
    driver: bridge
    name: stellaris-stats_db-network
  stellaris-stats-apollo-mcp-server-network:
    driver: bridge
    name: stellaris-stats_apollo-mcp-server-network
  stellaris-stats-mcp-run-python-network:
    driver: bridge
    name: stellaris-stats_mcp-run-python-network

volumes:
  claude-data:
    name: stellaris-stats_claude-data
  db-data:
    name: stellaris-stats_db-data
  db-dump-data:
    name: stellaris-stats_db-dump-data
  gamestate-json-data:
    name: stellaris-stats_gamestate-json-data
  node-modules:
    name: stellaris-stats_node-modules
  user-cache:
    name: stellaris-stats_user-cache
  user-local:
    name: stellaris-stats_user-local
